# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2b52d8282b9c451c11f0a54c557936be"
name = "product-export-production-2"
handle = "product-export-prod-2"
application_url = "https://stingray-app-pbjrp.ondigitalocean.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-04"

[[webhooks.subscriptions]]
topics = ["app/uninstalled"]
uri = "/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = ["app/scopes_update"]
uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [
  "https://stingray-app-pbjrp.ondigitalocean.app/auth/callback",
  "https://stingray-app-pbjrp.ondigitalocean.app/auth/shopify/callback",
  "https://stingray-app-pbjrp.ondigitalocean.app/api/auth/callback",
]
[pos]
embedded = false
